#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-group {
  display: flex;
  align-items: center;
  margin-left: 1vh;
}

.control-group input {
  margin-left: 1vh;
}

.button {
  font-size: 2vh;
  padding: 1vh;
}