table {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

th {
  font-weight: normal;
}

td {
  border: 1px solid black;
  width: 15px;
  height: 24px;
}

td div {
  background-color: #00C800;
  width: 10px;
  height: 10px;
  margin-left: 2.5px;
  border-radius: 10px;
}

#opponents {
  max-width: 500px;
}

#opponents-title {
  text-align: center;
}
